<!DOCTYPE html>
<!-- Written and coded by the Bug Slayers-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT SUBMISSION</title>
    <style>
        body{
            background-color:aqua;
        }
        #ds{
            text-align: center;
        }
        #th{
            text-align: center;
        }
        .center {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


    </style>
</head>

<body>
   <div id="ds"><h1>DOCUMENT SUBMITTED</h1><br></div>
    <hr>
    <div id="th">
    <h3>

            Thank You,Your Submission Has been Recorded<br>
        Have A Great Day!!!!!!!!
    </h3>
        </div>

    </h4>
    <center>
    <img src="https://c.tenor.com/iqyhP4D5ygAAAAAC/emoji-smile.gif" alt="Thumbs Up Emoji" class="'center">
</center>
        </body>

</html>